/* Universal Styles */

html {
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  color: #3b3730;
}

body {
  margin: 0 auto;
  background-color: #f4f3f1;
}

.image-container img {
  max-width: 100%;
  height: auto;
  display: block;
}


@media only screen and (max-width: 1060px) {
  html {
    font-size: 12px;
  }
}


/* Header */

header {
  border: 3px solid red;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 4rem;
}

header .logo {
  border: 2px solid blue;
  display: flex;
  align-items: center;
  flex: 1;
  margin-left: 1.5rem;
  font-size: 2rem;
}

.logo img {
  border: 2px solid yellow;
  height: 3rem;
  padding: 0 0.15rem;
}

header p {
  display: inline-block;
}

.logo p span {
  font-weight: bold;
}

header .logo span {
}

.desktop ul li {
  display: inline;
  font-size: 1.5rem;
  margin-right: 1rem;
}

.desktop ul:last-child {
  margin-right: 0.5rem;
}

.mobile {
  display: none;
}

/* Main */

/* Banner section */
.banner {
  border: 3px solid red;
  background-color: #cdc9c1;
  display: flex;
}

.banner-left-column {
  width: 60%;
  margin: 2rem 1.5rem 2rem 1.5rem;
}

.banner .image-container {
  border: 2px solid blue;
  overflow: hidden;
}

.banner-text {
  border: 2px solid green;
  margin: 2rem 1.5rem 2rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  line-height: 1.2;
  margin-right: 1.5rem;
  width: 40%;
}

.banner-text h1 {
  font-family: "Open Sans", sans-serif;
  font-size: 3.5rem;
  font-weight: bold;
  margin-bottom: 1.65rem;
}

.banner-text h2 {
  font-size: 1.85rem;
  font-weight: bold;
  margin-bottom: 1.65rem;
}

.banner-button {
  display: flex;
  justify-content: center;
  background-color: #49443c;
  font-size: 1.25rem;
  text-align: center;
  padding: 0.5rem;
  max-width: 25rem;
}

.banner-button a {
  color: white;
  letter-spacing: 0.1rem;
}


@media only screen and (max-width: 1060px) {

  .banner-text h1 {
    font-size: 2.5rem;
  }

  .banner-text h2 {
    font-size: 1.25rem;
  }
}



/* Information section */
.information {
  border: 3px solid red;
  display: flex;
}

.information-left-column {
  border: 2px solid blue;
  display: flex;
  flex-direction: column;
  width: 60%;
  margin: 2rem 1.5rem 2rem 1.5rem;
}

.information .image-container {
  overflow: hidden;
}

.left-column-text h2 {
  font-family: "Open Sans", sans-serif;
  font-size: 2.5rem;
  font-weight: bold;
  margin-top: 2rem;
  margin-bottom: 1.5rem;
}

.left-column-text p {
  font-size: 1.25rem;
  line-height: 1.5;
  margin-bottom: 2rem;
}

.left-column-text span {
  font-size: 1rem;
  font-weight: bold;
  color: #514c43;
}

.information-right-column {
  border: 2px solid green;
  margin: 2rem 1.5rem 2rem 0;
  display: flex;
  flex-direction: column;
  width: 40%;
}

.right-column-box {
  display: flex;
  border: 1px solid #b3ada2;
}

.right-column-box:nth-child(2n+0) {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.image-box {
  border: 1.5px solid orange;
  overflow: hidden;
  width: 35%;
  margin: 2rem;
}

.image-box img {
  display: block;
  height: auto;
  max-width: 100%;
}

.right-column-box .text-box {
  border: 1.5px solid pink;
  width: 65%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.text-box h3 {
  font-family: "Open Sans", sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
}

.text-box h4 {
  font-size: 1.25rem;
  line-height: 1.5;
  margin-bottom: 0.75rem;
  margin-top: 0.75rem;
}

.text-box a {
  font-size: 1.25rem;
  color: #2B77FF;
}

.information-right-column .bottom-box {
  background-color: #cdc9c1;
}


/* Courses section */
.courses {
  border: 3px solid red;
  background-color: #cdc9c1;
}

.courses h2 {
  font-family: "Open Sans", sans-serif;
  font-size: 2.5rem;
  font-weight: bold;
  text-align: center;
  margin-top: 2.25rem;
}

.courses-container {
  border: 2.5px solid blue;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 2.25rem 5rem 2.25rem 5rem;
}

.courses-box {
  border: 2px solid green;
  display: flex;
  flex-direction: column;
  margin: 0.75rem;
  background-color: #f4f3f1;
  max-width: 30%;
}

.courses-box .course-info {
  border: 3.5 solid pink;
  margin: 1.25rem;
}

.course-info h3 {
  font-family: "Open Sans", sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.course-info h4 {
  font-size: 1.25rem;
  line-height: 1.5;
  margin-bottom: 0.5rem;
}

.course-info:last-child {
  margin-bottom: 1.75rem;
}


/* Thesis section */
.thesis {
  border: 3px solid red;
}

.thesis h2 {
  font-family: "Open Sans", sans-serif;
  font-size: 2.5rem;
  font-weight: bold;
  text-align: center;
  margin-top: 2.25rem;
}

.thesis-container {
  border: 2.5px solid blue;
  margin: 2.25rem 1.75rem 2.25rem 1.75rem;
  display: flex;
}

.thesis-left-column {
  border: 2px solid green;
  display: flex;
  flex-direction: column;
  width: 60%;
  margin-right: 1.75rem;
}

.left-column-text h3 {
  font-family: "Open Sans", sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
  margin-top: 1.75rem;
  margin-bottom: 1rem;
}

.left-column-text p {
  font-size: 1.25rem;
  line-height: 1.5;
}

.thesis-right-column {
  border: 2px solid green;
  display: flex;
  flex-direction: column;
  width: 40%;
}

.thesis-right-column .top-box {
  background-color: #cdc9c1;
}

/* Footer */
